@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: rgb(10, 5, 20);
  --mask-bg: rgb(25, 20, 35);
  --main-border-color: rgb(40, 40, 55);

  /* Common color */
  --text-color: rgb(200, 200, 210);
  --text-muted-color: #777777;
  --text-muted-highlight-color: #999999;
  --heading-color: #dddddd;
  --label-color: #bbbbbb;
  --blockquote-border-color: rgb(70, 70, 85);
  --blockquote-text-color: #888888;
  --link-color: rgb(160, 120, 255);
  --link-underline-color: rgb(100, 80, 190);
  --button-bg: #18181c;
  --btn-border-color: #292a2f;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #252527;
  --card-header-bg: #222233;
  --checkbox-color: rgb(140, 140, 150);
  --checkbox-checked-color: var(--link-color);
  --img-bg: var(--main-bg);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(90, 80, 110, 0) 0%,
    rgba(120, 100, 180, 0.3) 50%,
    rgba(90, 80, 110, 0) 100%
  );

  /* Logo */
  --logo-bg: var(--main-bg);

  /* Sidebar */
  --site-title-color: #808080;
  --site-subtitle-color: #999999;
  --sidebar-bg: #191924;
  --sidebar-border-color: #303040;
  --sidebar-muted-color: #777777;
  --sidebar-active-color: rgb(255, 255, 255, 0.95);
  --sidebar-hover-bg: #292939;
  --sidebar-btn-bg: #24242a;
  --sidebar-btn-color: #888888;
  --avatar-border-color: rgb(220, 220, 230, 0.9);

  /* Topbar */
  --topbar-bg: rgb(20, 20, 30, 0.7);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(60, 60, 75);
  --search-icon-color: rgb(120, 122, 130);
  --input-focus-border-color: rgb(130, 132, 140);

  /* Home page */
  --post-list-text-color: rgb(200, 200, 210);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #333344;

  /* Posts */
  --toc-highlight: rgb(150, 120, 255);
  --toc-popup-border-color: #404050;
  --tag-hover: rgb(50, 60, 70);
  --tb-odd-bg: #2a2a38;
  --tb-even-bg: rgb(35, 35, 45);
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(90, 60, 190);
  --btn-share-color: #787880;
  --btn-share-hover-color: #c2c2d0;
  --card-bg: #20202a;
  --card-hovor-bg: #505060;
  --card-shadow: rgb(25, 25, 35, 0.8) 0 6px 18px 0,
    rgb(140, 140, 150, 0.3) 0 0 0 1px;
  --kbd-wrap-color: #777777;
  --kbd-text-color: #dddddd;
  --kbd-bg-color: #29292f;
  --prompt-text-color: rgb(225, 225, 230, 0.8);
  --prompt-tip-bg: rgb(50, 20, 70, 0.7);
  --prompt-tip-icon-color: rgb(120, 50, 180, 0.9);
  --prompt-info-bg: rgb(10, 70, 120, 0.85);
  --prompt-info-icon-color: #0080e0;
  --prompt-warning-bg: rgb(50, 20, 70, 0.9);
  --prompt-warning-icon-color: rgb(160, 100, 255, 0.9);
  --prompt-danger-bg: rgb(90, 30, 120, 0.85);
  --prompt-danger-icon-color: #a020f0;

  /* Tags */
  --tag-border: rgb(70, 85, 95);
  --tag-shadow: rgb(40, 40, 50);
  --dash-color: rgb(70, 75, 80);
  --search-tag-bg: #0a0514;

  /* Categories */
  --categories-border: rgb(75, 80, 85, 0.5);
  --categories-hover-bg: rgb(85, 90, 95);
  --categories-icon-hover-color: white;

  /* Archive */
  --timeline-node-bg: rgb(160, 165, 175);
  --timeline-color: rgb(70, 75, 80);
  --timeline-year-dot-color: var(--timeline-color);
}